<% provide(:title, "Home") %>
<h1>Townsend</h1>
	<p>
		This is the homepage for "Townsend", a simple social network, based on Michael Hartl's <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
	</p>