<div class="center jumbotron">
	<h1>Townsend</h1>
		<h2>
			This is the homepage for "Townsend", a simple social network, based on Michael Hartl's <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>